{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><span class="svg-icon email"></span></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><span class="svg-icon github"></span></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><span class="svg-icon linkedin"></span></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://x.com/{{ site.footer-links.twitter }}"><span class="svg-icon twitter"></span></a>{% endif %}
{% if site.footer-links.mastodon %}<a rel="me" href="https://{{ site.footer-links.mastodon }}"><span class="svg-icon mastodon"></span></a>{% endif %}
