<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">

    {% include analytics.html %}
  </head>

  <body>
    <header class="masthead container">
      <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}"></a>

      <div>
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>

      <nav>
        <a href="{{ site.baseurl }}/">Blog</a>
        <a href="https://docs.google.com/document/d/14XJWinqmcUz45un0Sl53M1F7dE6OPiRBfZsf4zm_x9w/edit">CV</a>
      </nav>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer>
      {% include svg-icons.html %}
      <p>Copyright 2022-{{ site.time | date: '%Y' }} - Joe T. Sylve, Ph.D.</p>
      <p>All views and opinions expressed on this blog are my own, and do not represent those of my employers.</p>
    </footer>

    {% include ext-links.html %}
  </body>
</html>
